/* ((PRESENTACION)) */

.presentacion {
    position: relative;
    aspect-ratio: 16 / 12;
    overflow: hidden;
    margin: 0 auto;
    width: min(100%, 160rem);
}

.presentacion-video {
    position: fixed;
    /* top: 7rem; */
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 16 / 12;
    object-fit: cover;
    z-index: -1;
}

/* ((PROYECTOS)) */

.proyectos-contenedor {
    background-color: var(--blanco);
    position: relative;
    width: 100%;
}

.proyectos {
    background-color: var(--blanco);
    width: min(100%, 120rem);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 5rem 0;
}

.proyectos-titulo {
    line-height: 1.2;
}

.proyectos-grid {
    display: grid;
    row-gap: 4rem;
    width: min(100%, 40rem);
}



.proyectos a:nth-of-type(1) {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyecto img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease, filter .02s ease;
}


.proyecto p:nth-of-type(1) {
    color: var(--colorPrimario);
    margin-top: 1rem;
}

.proyecto p:nth-of-type(2) {
    font-family: var(--fuentePrincipal);
}

.proyecto a:nth-of-type(2) {
    margin-top: auto;
}

/* ((HERO)) */

.hero {
    background-image: url(../src/img/bg/index/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* margin-top: 5rem; */
}

/* ((HERO: CONTENIDO)) */

.hero__filtro {
    position: absolute;
    inset: 0;
    z-index: 1;
    /*  background-image: linear-gradient(to top, var(--colorPrincipalAlpha) 60%, var(--colorPrincipal)); */
    background-color: rgba(0, 0, 0, 0.559);
}

.hero__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;

    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    padding: 8rem 0;
}

.hero__informacion-top {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.hero__titulo {
    font-size: 3.9rem;
    font-weight: 400;
    line-height: 1.44;
    width: min(95%, 34.9rem);
}

.hero__titulo span {
    font-weight: 900;
    font-size: 4.1rem;
    /* color: var(--colorPrimario); */
    color: var(--colorPrimario2);
    /* text-shadow: 0 0 25px #ffffff3a; */
    text-shadow: 0 0 25px #0000008d;
}

/* => HERO: TITULO SPAN WAVE EFFECT */

.wave-text span {
    display: inline-block;
    font-size: 4rem;
    animation: wave 5.5s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}

.wave-text span:nth-child(2) {
    animation-delay: 0.1s;
}

.wave-text span:nth-child(3) {
    animation-delay: 0.2s;
}

.wave-text span:nth-child(4) {
    animation-delay: 0.3s;
}

.wave-text span:nth-child(5) {
    animation-delay: 0.4s;
}

.wave-text span:nth-child(6) {
    animation-delay: 0.5s;
}

.wave-text span:nth-child(7) {
    animation-delay: 0.6s;
}

.wave-text span:nth-child(8) {
    animation-delay: 0.7s;
}

.wave-text span:nth-child(9) {
    animation-delay: 0.8s;
}

.wave-text span:nth-child(10) {
    animation-delay: 0.9s;
}

.wave-text span:nth-child(11) {
    animation-delay: 1s;
}

.wave-text span:nth-child(12) {
    animation-delay: 1.1s;
}

.wave-text span:nth-child(13) {
    animation-delay: 1.2s;
}

.wave-text span:nth-child(14) {
    animation-delay: 1.3s;
}

.wave-text span:nth-child(15) {
    animation-delay: 1.4s;
}

@keyframes wave {

    0%,
    27% {
        transform: translateY(0);
    }

    36% {
        transform: translateY(-10px);
    }

    45% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

/* FIN: HERO: TITULO SPAN WAVE EFFECT */

.hero__informacion-bottom {
    line-height: 1.8;
    margin: 0 auto;
    width: min(85%, 31.2rem);
}

/* HERO: BOTONES */

.hero__botones {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

.hero__boton_a {
    /* fondo icono en botón usando backgroud-image */
    /*     background-image: url(../src/icon/arrow-outward.svg);
    background-repeat: no-repeat;
    background-position: right 1rem center; */
    text-decoration: none;
    border-radius: .8rem;
    cursor: pointer;

    padding: 1rem;
    width: fit-content;
}

.hero__boton_a-secundario {
    background-color: var(--blanco);
    color: var(--negro);
    border: .1rem solid var(--grisBorder);

    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.hero__boton_a-secundario:hover {
    background-color: var(--grisBgFocus);
    color: var(--colorPrimario);
}

.hero__boton_a-secundario:focus {
    outline: none;
    box-shadow: 0 0 0 4px var(--grisBgFocus);
}

.icon-arrow-outward {
    width: 2rem;
    height: 2rem;
    color: inherit;
}

.hero__boton_a-primario {
    background-color: var(--colorPrimario2);
    color: var(--blanco);
    border: .1rem solid var(--grisBorder);
    font-size: 1.8rem;
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    /* layout */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem;
}

.hero__boton_a-primario .icon {
    width: 2.2rem;
    height: 2.2rem;
}

/* HERO: DROPDOWN MENU */

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--blanco);
    border-radius: 0.8rem;
    padding: 0.8rem 0;
    min-width: 220px;
    z-index: 10;
}

.dropdown-menu a {
    color: var(--grisTextMenu);
    font-size: 1.4rem;
    text-align: left;
    text-decoration: none;
    display: block;
    padding: 0.8rem 1.6rem;
}

.dropdown-menu a:hover {
    background: #f0f0f0;
}


.hero__boton-principal {
    position: relative;
}

.hero__boton-principal:hover .dropdown-menu {
    display: block;
}

.hero__boton-principal:hover .hero__boton_a-primario {
    background-color: var(--colorPrimario);
}

.hero__boton-principal:hover .elemento_translate-y {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* ((TESTIMONIOS)) */

.testimonios {
    background-color: var(--colorPrimarioSoft);

}

.testimonios-contenedor {
    padding: 5rem 0;
    max-width: 100vw;
}

.testimonios-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 7rem 0;

    width: min(80%, 100rem);

}

.testimonios-img-layout {
    position: relative;
    aspect-ratio: 10 / 11;
    margin: 0 auto;
    width: min(100%, 54rem);
}

.testimonios-img:nth-of-type(1) {
    background-image: url(../src/img/clientes/clientes.webp);
    background-size: cover;
    background-position: center;
    aspect-ratio: 5 / 8;
    position: absolute;
    width: 60%;
}

.testimonios-img:nth-of-type(2) {
    background-image: url(../src/img/clientes/clientes-2.webp);
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1;
    position: absolute;
    right: 10%;
    top: 10%;
    width: 40%;
}

.testimonios-img:nth-of-type(3) {
    background-image: url(../src/img/clientes/clientes-satisfechos-cut-cmp.webp);
    background-size: cover;
    background-position: center;
    aspect-ratio: 15 / 9;
    position: absolute;
    right: 10%;
    bottom: 0;
    width: 50%;
}

.testimonios__titulo {
    color: var(--blanco);
    font-size: 3.6rem;
    font-family: var(--fuentePrincipal);
    font-style: italic;
    font-weight: 800;
    text-align: right;
    /* layout */
    position: absolute;
    top: 47%;
    right: 0;
    width: min(100%, 36rem);
}

/* ((TESTIMONIOS: CONTENIDO)) */

.swiperTestimonios {
    width: min(27rem, 100%);
    margin: 0;
}

.swiperTestimonios .swiper-slide {
    min-width: 100%
}

.swiperTestimonios .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #fff;
}

.swiperTestimonios .swiper-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.swiperTestimonios .swiper-button-next,
.swiperTestimonios .swiper-button-prev {
    background-color: var(--colorPrimario);
    position: relative;
}

.testimonio {
    font-family: var(--fuentePrincipal);
    /* border-radius: .4rem; */
    /* border: .1rem solid var(--grisBorder); */
    background-color: var(--blanco);
    /* layout */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 3rem 2.5rem;
    /* width: 100%; */
    aspect-ratio: 10/14;
    min-height: 100%;
}

.testimonio__filtro {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--colorPrimario);
    /* background-image: url(../src/img/textures/washi.png); */

    width: 100%;
    height: 25%;
}

.testimonio img {
    border-radius: 50%;
    z-index: 2;
    height: 8.5rem;
    width: 8.5rem;
    box-shadow: 0 1px 3px var(--grisShadow);
}

.testimonio__informacion .testimonio__nombre {
    color: var(--grisTextMenu);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8;
}

.testimonio__informacion .testimonio__mensaje {
    color: var(--grisTextMenu);
    font-size: 1.4rem;
    line-height: 1.4;
}

.testimonio__informacion .testimonio__detalle {
    color: var(--grisTextMenu);
    background-color: var(--grisBgText);
    font-size: 1.4rem;
    border-radius: .4rem;
    border: .1rem solid var(--grisBorder);
    margin-top: 2rem;
    padding: .5rem 1rem;
    width: 70%;
    height: fit-content;
}

/* ((BANNER-2)) */

.banner-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 7rem;
}

.banner-2 img {
    width: min(100%, 60rem);
    filter: brightness(0.6);
}

.banner-texto {
    color: var(--blanco);
    font-size: 3.6rem;
    font-family: var(--fuentePrincipal);
    font-style: italic;
    font-weight: 800;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* ((TESTIMONIOS: CONTENIDO)) */
.testimonios-video {
    overflow: hidden;
    margin: 0 auto;
    /* aspect-ratio: 10 / 8; */
    /* aspect-ratio: 10 / 12; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: min(100%, 40rem);
    height: 100%;
}

.testimonios-video video {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    display: block;
}

.video-controles {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    /* padding: 0 1rem 1rem 0; */
    /* height: max-content;
    width: 6rem; */
}

.video-controles button {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorPrimario);
    border: none;
    border-radius: 4rem;
}

.video-controles .icon-bullhorn {
    width: 3rem;
    height: 3rem;
    color: inherit;

}

#volumen-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10rem;
    /* Ancho de la barra */
    /* Alto de la barra */
    background: var(--colorPrimario);
    border-radius: 8px;
    cursor: pointer;
    /* transform: rotate(270deg); */
    /* Girar el slider para hacerlo vertical */
    transform-origin: center;
    overflow: hidden;
    height: 3rem;
}

#volumen-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    box-shadow: -200px 0 0 200px white;
    /* Efecto visual de volumen */
}

#volumen-range::-moz-range-thumb {
    width: 0;
    height: 0;
    border: none;
    box-shadow: -200px 0 0 200px white;
    background: transparent;
}

#mute-toggle {
    cursor: pointer;
}

/* ((SOLICITAR-INFO)) */

/* SOLICITAR INFO: SWIPER4 */
.solicitar-info {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 7rem 0;
}

.swiper5 {
    /* height: 60rem; */
    width: min(100%, 52rem);
    aspect-ratio: 1 / 1;
}

.swiper5 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    user-select: none;
}

.swiper5 .swiper-slide img {
    width: 100%;
}

.swiper5 .swiper-button-next,
.swiper5 .swiper-button-prev {
    /* botones prev y next */
    background-color: var(--salmon);
}

.swiper5 .swiper-pagination-bullet-active {
    /* Para las bulltes */
    background: var(--salmon);
    transform: scale(1.3);
}


/* SOLICITAR INFO: FORMULARIO */
.solicitar-info .formulario {
    flex: unset;
    margin: 0;
    width: min(100%, 36.6rem);
}

.solicitar-info .formulario .formulario__titulo {
    text-align: left;
}

/* ((ASESORES)) */
.asesores {
    background-color: var(--colorSecundarioSoft);
    padding: 7rem 0;
}

.asesores__contenido {
    margin: 0 auto;
    width: 90%;
}

.asesores__texto {
    background-color: var(--salmon);
    padding: 1rem;
    width: fit-content;
}

.asesores__titulo {
    color: var(--blanco);
    font-size: 3.6rem;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-align: left;
}

.asesores__informacion {
    font-family: var(--fuentePrincipal);
    color: var(--negro);
    line-height: 1.6;
    margin-top: 2rem;
}

/* ASESORES: SWIPER3 */
.swiper3 {
    width: 100%;
    height: 100%;
    margin: 5rem auto 0;
}

.swiper3 .swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    user-select: none;
}

.asesor {
    font-family: var(--fuentePrincipal);
    /* border-radius: .8rem; */
    /* border: .1rem solid var(--grisBorder); */
    background-color: var(--blanco);
    /* height: 40rem; */
    overflow: hidden;
    width: 100%;
}

.asesor__imagen {
    background-color: var(--cremaOscuro);
    /* background-image: url(../src/img/textures/diagmonds.png); */

    overflow: hidden;
    aspect-ratio: 10/10;
    display: flex;
    justify-content: center;
}

.asesor__imagen img {
    /* height: 100%; */
    /* filter: brightness(.9) drop-shadow(0px 0px 25px var(--gris)); */
    padding-top: 7rem;
    /* max-width: 24.2rem; */
    object-fit: cover;

}

.asesor__informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}


.asesor__nombre {
    color: var(--colorPrimario);
    text-align: center;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 2.8;
}

.asesor__cargo {
    background-color: var(--grisBgText);
    color: var(--negroLight);
    font-size: 1.4rem;
    border-radius: .4rem;
    border: .1rem solid var(--grisBorder);
    /* layout */
    margin-top: 1rem;
    padding: .5rem 1rem;
    width: fit-content;
}

.asesor__telefono {
    color: var(--negroLight);
    text-align: center;
    font-size: 1.4rem;
}

.asesor__informacion div:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: .5rem;
}


/* ((UTILIDADES)) */

.boton {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: .8rem;
    border: .1rem solid var(--grisBorder);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    box-shadow: 0 1px 3px var(--grisShadow);
}

.titulo-basico {
    font-size: 2.2rem;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-align: center;
}

@media (min-width: 576px) {
    .titulo-basico {
        font-size: 3rem;
        text-align: left;
    }
}

.subtitulo-basico {
    font-size: 2.5rem;
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    text-align: center;
}

.subtitulo-basico-2 {
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
    font-weight: 500;
    text-align: center;
}

.caja-color-texto {
    background-color: var(--negro);
    padding: .4rem;
    width: fit-content;
}

.enlace-basico {
    font-size: 1.8rem;
    color: var(--negros);
    font-family: var(--fuentePrincipal);
}

/* ============================ */
/*       ((MEDIA-QUERYS))       */
/* ============================ */

@media (min-width: 380px) {
    .testimonios__titulo {
        top: 50%;
        right: 2rem;
        /* width: 85%; */
    }
}

@media (min-width: 420px) {
    .testimonios__titulo {
        font-size: 4rem;
    }
}

@media (min-width: 576px) {
    .testimonios-img-layout {}

    .hero__texto {
        padding: 10rem 0;
    }
}

@media (min-width: 608px) {}

@media (min-width: 768px) {
    .asesores__informacion {
        text-align: center;
    }

    .asesores__contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .asesores__titulo {
        text-align: center;
    }

    /* ==> PRESENTACION */
    .presentacion-video {
        /* top: 10.3rem; */
    }

    /* ==> PROYECTOS */
    .proyectos {
        width: min(100%, 98rem);
        margin: 0 auto;
    }

    .proyectos-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        width: 60%;
    }

    .proyectos-grid:hover .proyecto img {
        filter: grayscale(1);
        /* transition: filter .2s ease, transform .2s ease; */
    }

    .proyectos-grid:hover .proyecto:hover img {
        filter: grayscale(0);
        transform: scale(1.1);
    }
}

@media (min-width: 860px) {
    .hero__texto {
        padding: 12rem 0;
    }
}

/* @media (min-width: 980px) {
    .presentacion-video {
        top: 0;
    }

} */

@media (min-width: 1025px) {

    /* ======> HERO */
    .hero__titulo {
        font-size: 4.2rem;
        width: min(95%, 38rem);
    }

    .hero__titulo span {
        font-size: 4.4rem;
    }

    .asesores__contenido {
        width: 80%;
    }

    /* ======> TESTIMONIOS */
    .testimonios {}

    .testimonios-contenedor {
        align-items: center;
        justify-content: space-between;
        padding: 14rem 0;
        /* layout */
        display: grid;
        grid-template-columns: 3fr 2fr;
        row-gap: 10rem;
    }

    .testimonios-img-layout {
        aspect-ratio: 10 / 12;
    }

    .testimonios-img-layout .testimonios-img:nth-of-type(2) {
        aspect-ratio: 1 / 1;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
    }

    .testimonios-img-layout .testimonios-img:nth-of-type(3) {
        aspect-ratio: 15 / 9;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 80%;
    }

    .testimonios-contenido {
        max-width: 27rem;
    }

    .testimonios-video {
        grid-column: 2 / 3;
    }

    /* ======> BANNER 2 */

    .banner-2 {
        padding: 0;
    }

    /* ======> SOLICITAR INFO */

    .solicitar-info-contenedor {
        /* background-color: var(--crema2); */
        background-color: var(--blanco);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 8rem 0;
    }

    .swiper5 {
        height: 60rem;
        width: 60rem;

    }

    .solicitar-info {
        background-color: var(--blanco);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: unset;
        /* border: .2rem solid var(--rojo2);  */
        border: .2rem solid var(--negro);
        overflow: hidden;

        height: 60rem;
        padding: unset;
        width: min(100%, 97rem);
        /* border-radius: .8rem; */
    }

    .solicitar-info .formulario {
        height: 100%;
        border: none;
    }

    /* =====> PRESENTACION */
    .presentacion {
        aspect-ratio: 16 / 11;
    }

    .presentacion-video {
        aspect-ratio: 16 / 11;
    }
}

@media (min-width: 1300px) {

    .hero__texto {
        padding: 15rem 0;
    }

    .hero__titulo {
        font-size: 4.8rem;
        width: 60%;
    }

    .hero__titulo span {
        font-size: 5rem;
    }

    .hero__informacion-bottom {
        width: 30%;
    }

    .testimonios-contenedor {
        margin: 0 auto;
        max-width: 130rem;
        aspect-ratio: unset;
    }

    /* ======> TESTIMONIOS */
    .testimonios-img-layout {
        aspect-ratio: 10 / 6;
        width: 100%;
    }

    .testimonios-img-layout .testimonios-img:nth-of-type(1) {
        aspect-ratio: 8 / 7;
        position: absolute;
        top: 2%;
        left: 7%;
        height: 90%;
        width: unset;
    }

    .testimonios-img-layout .testimonios-img:nth-of-type(2) {
        aspect-ratio: 25 / 29;
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
    }

    .testimonios-img-layout .testimonios-img:nth-of-type(3) {
        aspect-ratio: 15 / 9;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40%;
    }

    .testimonios__titulo {
        text-align: right;
        /* layout */
        top: unset;
        bottom: 0;
        /* left: 0; */
        right: 42%;
        width: min(58%, 34.3rem);
    }

    /* =======> PRESENTACION */
    /* .presentacion {
        aspect-ratio: 16 / 11;
    }

    .presentacion-video {
        aspect-ratio: 16 / 11;
    } */

    /* =======> PROYECTOS */
    .proyectos-contenedor {
        height: 50rem;
    }

    .proyectos {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        margin-top: -19rem;
        transform: translateX(-50%);
    }
}

@media (min-width: 1500px) {
    .proyectos-grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        width: 88%;
    }

    .proyectos a:nth-of-type(1) {
        aspect-ratio: 5 / 7;
    }

    .proyecto img {
        height: 100%;
    }
}