:root {
    --blanco: #fff;
    --gris: #777777;
    --grisClaro: #e8e8e8;
    --grisClaro2: #f1f1f1;
    --grisBorder: #e5e7eb;
    /* seleccionado: tailwind*/
    --grisBorderHigh: #a3a3a3aa;
    --grisText: #6b7280;
    /* seleccionado: tailwind*/
    --grisTextMenu: #374151;
    /* seleccionado: tailwind*/
    --grisBgText: #f9fafb;
    /* seleccionado: tailwind*/
    --grisBgFocus: #f3f4f6;
    /* seleccionado: tailwind*/
    --grisShadow: #0000001a;
    /* seleccionado:: tailwind*/
    --negro: #000;
    --negroLight: #11181d;
    --negroAlpha: #00000080;
    --fuentePrincipal: 'Inter', sans-serif;
    --fuenteHeading: 'Fraunces', serif;
    --colorPrimario: #003156;
    --colorPrimarioAlpha: #00315608;
    --colorPrimarioAlpha: #00315670;
    --colorPrimario2: #055f91;
    --colorPrimario3: #02a5b4;
    --colorPrimarioSoft: #94B4C1;
    /* seleccionada: color-hunt */
    --colorSecundario: #fbb12f;
    --colorSecundario2: #ec9b0f;
    --colorSecundario3: #DDA853;
    /* seleccionado: color-hunt */
    --colorSecundarioSoft: #ECEFCA;
    /* seleccionada: color-hunt */
    --amarillo: #FFD63A;
    /* seleccionada: color-hunt */
    --celeste: #6DE1D2;
    /* seleccionada: color-hunt */
    --crema: #FBF5DD;
    --crema2: #F6F1DE;
    /* seleccionado: color-hunt */
    --crema3: #EAE2C6;
    /* seleccionado: color-hunt */
    --cremaOscuro: #BFBBA9;
    /* seleccionado: color-hunt */
    --rojo2: #BB3E00;
    /* seleccionado: color-hunt */
    --salmon: #e91e63;
    /* seleccionado: chrome-default */

}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    /* APARIENCIA */
    background-color: var(--grisClaro2);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 7rem;
}

body {
    max-width: 100vw;
    font-size: 1.6rem;
}

/* ((MUESTRA)) */

.muestra {
    position: relative;
}

.fondo--filtro {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--colorPrimario), rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: 1;
}

/* => MUESTRA IMAGEN */

.muestra__imagen {
    display: none;
}


/* => MUESTRA VIDEO */

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* => MUESTRA BANNER */

.muestra__banner {
    /* layout */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(75%);
    width: 90%;
}

.banner__titulo {
    font-family: var(--fuenteHeading);
    font-size: 2rem;
    text-align: center;
    color: var(--blanco);
    background-color: var(--colorPrimarioAlpha);
    backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    width: fit-content;
}

.banner__titulo p:last-of-type {
    font-size: 3.4rem;
}

.banner__informacion {
    background-color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-weight: 600;
    box-shadow: 0px 0px 10px var(--negroAlpha);

    /* layout */
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
}

.banner__informacion div:nth-child(1) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner__informacion div:nth-child(1) p:last-of-type {
    font-size: 2rem;
}


.banner__informacion div:nth-child(2) {
    color: var(--colorPrimario);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* ((CONTENIDO)) */

.contenido {
    /* layout */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 16rem;
}

/* ((INFORMACION)) */

/* ((INFORMACION: ENTRADA)) */

.informacion__entrada h2 {
    font-size: 2.8rem;
}

.informacion__entrada p {
    line-height: 1.7;
    margin-top: 2rem;
}

/* ((INFORMACION: TOP))*/

.informacion__top {
    /* layout */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem auto;
    width: min(70%, 60%);
}

.informacion__top div {
    border-radius: .8rem;
    border: none;
    background-color: var(--colorPrimario);

    /* layout */
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    transition: transform .2s ease;
}

.informacion__top div:hover {
    transform: scaleX(1.03) scaleY(1.03);
}

.informacion__top p {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    user-select: none;
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
}

.informacion__top img {
    user-select: none;
}

/* ((INFORMACION: UBICACION)) */

.ubicacion {
    /* layout */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 7rem 0;
}

.ubicacion__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.ubicacion__titulo {
    font-size: 3rem;
    font-family: var(--fuenteHeading);
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.ubicacion__mapa {
    aspect-ratio: 10 / 13;
    width: 100%;
    margin: 0 auto;
}

.ubicacion__botones {
    display: flex;
    gap: 1rem;
}

.ubicacion__boton {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ((INFORMACION: BENEFICIOS)) */

.beneficios {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7rem auto;
}

.beneficios__titulo {
    font-size: 3rem;
    font-family: var(--fuenteHeading);
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.beneficios__layout {
    /* layout */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.beneficio {
    background-color: var(--colorPrimario);
    color: var(--blanco);
    font-size: 1.4rem;
    font-weight: 700;
    text-align: left;
    border-radius: .8rem;
    border: .1rem solid var(--colorPrimario2);
    user-select: none;

    /* layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    transition: transform .2s ease;
}


.beneficio:hover {
    transform: scaleX(1.03) scaleY(1.03);
}

/* ((INFORMACION: RECURSOS)) */

.recursos {
    margin: 7rem 0;
}

.recursos__titulo {
    font-size: 3rem;
    font-family: var(--fuenteHeading);
    font-weight: bolder;
    text-transform: uppercase;
    text-align: left;
}

.recursos__informacion {
    line-height: 1.7;
    margin-top: 2rem;
}

.recursos__videos {
    margin-top: 4rem;
}

.recursos__videos iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.recursos__fotos {
    margin-top: 4rem;
}

/* ((SWIPER1)) */

.swiper1 {
    width: 100%;
    aspect-ratio: 16 / 10;
}

.swiper1 .swiper-slide {
    display: flex;

}

.swiper1 .swiper-slide img {
    width: 100%;
    object-fit: cover;
}

/* => DISEÑO DE FLECHAS SWIPER */
.swiper-button-next,
.swiper-button-prev {
    background-color: var(--grisClaro);
    border-radius: 40px;
    --swiper-navigation-color: var(--blanco);
    --swiper-navigation-size: 2.4rem;
    height: 4rem;
    width: 4rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--gris);
}



.recursos__foto {
    background-color: var(--blanco);
    border-radius: .8rem;
    border: .1rem solid var(--grisBorder);
    display: flex;
    justify-content: center;
    padding: 3rem;
    width: 100%;
}



/* ((INFORMACION: CONOCE)) */

.conoce {
    margin: 7rem 0;
    width: 100%;
}

.conoce__informacion {
    line-height: 1.7;
    margin-top: 2rem;
}

.swiper2 {
    margin-top: 4rem;
    width: 100%;

}

.swiper2 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}



.conoce__elemento {
    background-color: var(--blanco);
    border: .1rem solid var(--grisBorder);
    border-radius: .8rem;

    padding: 3rem 4.5rem;
}

.conoce__elemento p:nth-of-type(1) {
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 2rem 0;
}

.conoce__elemento p:nth-of-type(2) {
    background-color: var(--grisBgText);
    border: .1rem solid var(--grisBorder);
    border-radius: .4rem;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    width: fit-content;
}

.conoce__elemento p:nth-of-type(3) {
    line-height: 1.4;
    margin-top: 1rem;
}

.conoce__elemento img {
    width: 100%;
    aspect-ratio: 10 / 7;
    object-fit: cover;
}

/* => INFORMACION DERECHA */


/* => FORMULARIO */

.formulario {
    flex: 1.3;
    box-shadow: 0px 0px 15px var(--grisBorder);

    /* layout */
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
    padding: 3.2rem;
    margin: 0 auto;
    height: fit-content;
    width: min(100%, 40rem);
}

.formulario .formulario__titulo {
    font-size: 1.9rem;
    font-family: var(--fuentePrincipal);
    font-weight: bolder;
    text-align: center;
}


.formulario .formulario__campo:nth-of-type(1) {
    /* margin-top: 3rem; */
}

.formulario__campo {
    font-family: var(--fuentePrincipal);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formulario .formulario__campo span {
    /* line-height: 2; */
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.formulario__campo input {
    /* margin-top: .5rem; */
}

.formulario__input {
    /* input generico de formulario */
    background-color: var(--grisBgText);
    font-family: var(--fuentePrincipal);
    line-height: 2rem;
    padding: 1rem;
    border-radius: .8rem;
    border: .1rem solid var(--grisBorder);
}

.formulario__informacion {
    /* texto información generico de formulario */
    font-size: 1.3rem;
    text-align: center;
}

.formulario .formulario__informacion a {
    color: var(--colorPrimario2)
}

.formulario__input--submit {
    /* inpout--submit generico de formulario */
    font-family: var(--fuentePrincipal);
    background-color: var(--negro);
    color: var(--blanco);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 20px;
    /* border-radius: .4rem; */
    border-radius: .8rem;
    border: none;

    padding: 1rem 2rem;
    cursor: pointer;
    width: 100%;
}

/* ((FOOTER)) */


.footer {
    background-color: var(--colorPrimario2);
}

.footer_contenido {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);

    padding: 3rem 2rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 2rem;
    row-gap: 4rem;
}

.footer_contenido>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_contenido .logo {
    height: 13rem;
}

.footer_redes {
    margin: 0 auto;
}

.footer_redes ul,
.footer_enlaces ul {
    display: flex;
    flex-direction: column;
}

.footer_redes ul {
    gap: .5rem;
    margin-top: 2rem;
}

.footer_redes a {
    display: flex;
    align-items: center;
    gap: .2rem;
    text-decoration: none;
    color: var(--blanco);
}

.footer_redes .icono {
    height: 3rem;
}

.footer_enlaces {
    display: none;
}

.footer_informacion-bottom {
    text-align: center;
    grid-column: 1/3;
    ;
}

/* ((UTILIDADES)) */


.fuente-principal {
    font-family: var(--fuentePrincipal);
}

.contenedor {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contenedor2 {
    width: min(100%, 150rem);
    margin: 0 auto;
}

.tarjeta-grid {
    background-color: var(--blanco);
    border: .1rem solid var(--grisBorder);
    border-radius: 1rem;
    overflow: hidden;
}

.tarjeta-grid-noimg {
    padding: 2rem;
}

.button-roundborder-simple {
    background-color: var(--blanco);
    border-radius: .8rem;
    border: .1rem solid var(--grisBorder);
    padding: .4rem 1rem;
    cursor: pointer;
    transition: color .2s ease, background-color .2s ease, transform .2s ease;
}

.button-roundborder-simple:hover {
    background-color: var(--grisClaro);
    transform: scaleX(1.1) scaleY(1.1);
}

.elemento_translate-y {
    transition: all 300ms;
}

.elemento_translate-y:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* ((REUTILIZABLES)) */

.header {
    background-color: var(--colorPrimario2);
    /* background-image: url(../src/img/textures/diagonal-noise.png); */
    width: min(100%, 98rem);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    height: 7rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3.2rem;
}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    text-decoration: none;
}

.navbar__logo img {
    max-height: 5rem;
}

.navbar__logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
    height: 5rem;
}

.navbar__logo div p {
    color: var(--blanco);

}

.navbar__logo div p:nth-of-type(1) {
    font-weight: 800;
    font-size: 2.5rem;
}

.navbar__logo div p:nth-of-type(2) {
    /* display: none; */
    font-weight: 500;
}

.navbar_menu-button {
    background: transparent;
    cursor: pointer;

    /* layout */
    position: relative;
    display: block;
    width: 40px;
    height: 30px;
}

.navbar_menu-button input {
    display: none;
}

.navbar_menu-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--blanco);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar_menu-button span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.navbar_menu-button span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.navbar_menu-button span:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
    transform-origin: left center;
}

.navbar_menu-button input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.navbar_menu-button input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.navbar_menu-button input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.navbar__enlaces {
    display: none;
}

.navbar__enlace {
    /* background-color: var(--blanco); */
    font-weight: 400;
    text-decoration: none;
    /* color: var(--negro); */
    color: var(--blanco);
    padding: .7rem .5rem;
    /* border-radius: 4rem; */
    /* border: .1rem solid var(--grisBorder); */
    /* transition: background .2s ease, color .2s ease, transform .2s ease; */
    transition: color .2s ease, transform .2s ease;
}

.navbar__enlace:hover {
    color: var(--colorSecundario);
    /* transform: scaleX(1.1) scaleY(1.1); */
    /* color: var(--blanco); */
    /* background: var(--colorPrimario) */
}

.navbar__enlace--contacto {
    display: none;
}

/* .navbar__enlace--colorbutton {
    color: var(--blanco);
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #003156;
    border-radius: 5rem;
    padding: 1rem;
    transition: background-color .3s ease;
} */
/* 
.navbar__a--colorbutton:hover {
    background-color: var(--gris);
    color: var(--blanco);
} */

.separador {
    width: 100%;
    height: .08rem;
    background-color: var(--colorPrimario);
    margin: 2rem 0;
}

.r-titulos {
    font-size: 3rem;
    font-family: var(--fuenteHeading);
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

/* ((MEDIA QUERYS)) */

@media (min-width: 468px) {
    .ubicacion__mapa {
        aspect-ratio: 10/9;
    }

}


@media (min-width: 768px) {
    .navbar_menu-button {
        order: 3;
    }

    .navbar__enlace--contacto {
        order: 2;
        display: block;
    }

    .ubicacion__mapa {
        aspect-ratio: 10/7;
    }

    .swiper2 {
        width: 85%;
    }

    .conoce__elemento {
        padding: 3rem;
    }

    /* ((NAVBAR)) */

    .navbar {
        height: 10.3rem;
    }


}

@media (min-width: 900px) {

    .main {
        margin-top: 0;
    }

    .footer_enlaces {
        display: block;
    }

    .footer_enlaces ul {
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .footer_enlaces a {
        text-decoration: none;
        color: var(--blanco);
    }

    .footer_enlaces a:hover {
        color: var(--colorSecundario);
    }

    .footer_contenido {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 4rem;
    }

    .footer_informacion-bottom {
        grid-column: 1 / 4;
    }


}

@media (min-width: 1025px) {
    .contenedor {
        width: min(95%, 120rem);
    }

    .contenido {
        flex-direction: row;
        gap: 4rem;
        margin-top: 8rem;
    }

    /* ((NAVBAR)) */

    .navbar_menu-button {
        display: none;
    }

    .navbar__enlaces {
        display: flex;
        gap: .5rem;
    }

    /* ((MUESTRA)) */

    .muestra {
        /* layout */
        position: relative;
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        grid-auto-flow: dense;
        column-gap: .5rem;
        height: 60rem;
    }

    .muestra__banner {
        width: 60%;
        transform: translateX(-50%) translateY(25%);
    }

    .muestra__imagen {
        grid-column: 2/3;
        display: block;
        background-image: url(../src/img/bg/palmo/parque_pueblonuevo.webp);
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .muestra__imagen::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../src/img/textures/diagonal-noise.png);
        opacity: .7;
    }

    .informacion__izquierda {
        flex: 2.8;
        min-width: 0;
    }

    .informacion__derecha {
        flex: 1.3;
        min-width: 0;
        margin-bottom: 7rem;
    }

    /* ((INFORMACION TOP)) */

    .informacion__top {
        /* layout */
        flex-direction: row;
        width: 100%;
    }

    .informacion__top div {
        /* layout */
        flex-direction: row-reverse;
    }

    /* ((UBICACION)) */

    .ubicacion__mapa {
        width: 90%;
        aspect-ratio: 10 / 7;
    }

    /* ((BENEFICIOS)) */
    .beneficios__layout {
        /* layout */
        grid-template-columns: repeat(3, 1fr);
    }

    /* ((FORMULARIO)) */

    .formulario {
        position: sticky;
        top: 18rem;
        gap: 1rem;
        padding: 3rem;
        width: 100%;
    }

}

@media (min-width: 1300px) {
    .navbar__enlaces {
        display: flex;
        gap: 2rem;
    }
}

@media (min-width: 1500px) {
    .header {
        width: 120rem;
    }

    .proyectos {
        width: 130rem;
    }


    .proyectos-grid {
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
    }
}


/* ((MEDIA QUERYS WITH ASPECT RATIO)) */

@media (min-aspect-ratio: 16/9) and (max-width: 1500px) {
    .formulario {
        top: 10rem;
    }
}